/* style.css */
body {
    font-family: Arial;
    text-align: center;
    background: #fefefe;
    padding: 2rem;
  }
  
  .todo-container {
    display: inline-block;
    width: 300px;
    text-align: left;
  }
  
  input {
    width: 70%;
    padding: 8px;
  }
  
  button {
    padding: 8px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    background: #eee;
    margin: 8px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li.done {
    text-decoration: line-through;
    color: gray;
  }
  